
body {
    background-color: #E2EFDE;
    font-family: 'Poppins', sans-serif;
    margin: 2rem 15%;
}

.content {
    max-width: 1400px;
    margin: auto;
}

header > img {
    display: block;
    margin: 20px auto;
    height: 180px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 30px;
    padding: 20px 10%;
    background-color: #3F6C51;
}
@media all and (max-width: 500px) {
    nav ul {
        flex-direction: column;
    }
}

nav li {
    display: inline-block;
    font-size: 18px;
    position: relative;
}

a {
    /*display: block;*/
    /*padding: 10px;*/
    color: #F0F8FF;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #AFD0BF;
    transform-origin: bottom right;
    transition: transform 0.4s ease-in-out;
}

a:hover {
    color: #AFD0BF;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.promotion {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    min-height: 250px;
    margin-bottom: 20px;
    background-image: url("../images/promoBanner.jpeg");
    background-size: cover;
    background-position: right bottom;
    color: #FFF8DCFF;
    border-radius: 25px;
}

.promotion h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 40px 30px 15px 30px;
}

.promotion p {
    margin: 20px 40px 40px 30px;
    width: 1080px;
}

.info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 -20px;
}

.info article {
    flex: 1;
    min-width: 300px;
    border-radius: 25px;
    border: 2px solid #AFD0BF;
    margin: 20px 20px;
    padding: 30px;
}

.info h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 25px 0;
    height: 70px;
}

.info img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
}

.info p {
    margin-top: 30px;
    margin-bottom: 30px;
}


.footer {
    background-color: #333533;
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: space-around;

    padding: 15px;
}

.footer-logo {
    align-self: start;
    margin: 20px;
}

.footer-contact ul {
    align-self: flex-start;
    align-content: space-around;
    list-style-type: none;
    color: #F0F8FF;
}

.footer-contact li {
    margin-bottom: 10px;
}

.footer-contact a {
    text-decoration: none;
    position: relative;
    color: #F0F8FF;
    transition: all 0.3s ease 0s;
}

.footer-copyright {
    color: #F0F8FF;
    font-size: 14px;
    flex:50%;
    text-align: end;
    text-decoration: overline;
}
